<div class="brandon-closson container100" id="brandon-closson">
  <div class="jumbotron">
    <div>
      <p>My name is <strong>Brandon Closson</strong> and I am an aspiring <em>full stack web developer</em> located near <strong>Baltimore, MD</strong>. The language and framework pair I am most familiar with is <strong>Ruby on Rails</strong>.</p><p>I also have various levels of experience with <strong>HTML5, CSS3, SASS, Javascript, jQuery, Angular.js, Coffeescript</strong> and <strong>Capybara/RSPEC.</strong></p>
      <p>Take a look at my <a href="#projects" class="shadowed projects-link"><strong>Projects</strong></a>, use some of the <a href="#resources" class="shadowed resources-link"><strong>Resources</strong></a> I have been using to learn, or find out how to <a href="#contact" class="nowrap shadowed contact-link"><strong>Contact Me</strong></a>.</p>
    </div>
  </div>
</div>