<div class="contact container100" id="contact">
  <div class="jumbotron">
    <h2>Contact Me</h2>
    <div class="contact-content">
      <h3>
        Cell: <a href="tel:4197968595">(419)-796-8595
        <i class="fi-telephone icon-large"></i></a>
      </h3>
      <h3>
        Email: <a href="mailto:bclosson@gmail.com">bclosson@gmail.com
        <i class="fi-mail icon-large"></i></a>
      </h3>
      <h3>
        Github: <a href="http://github.com/brandonclosson">brandonclosson
        <i class="fi-social-github icon-large"></i></a>
      </h3>
      <h3>
        Twitter: <a href="http://twitter.com/brandonwclosson">
         @brandonwclosson<i class="fi-social-twitter icon-large"></i></a>
      </h3>
    </div>
    <%= render 'top_button' %>
  </div>
</div>