<div class="grid">
  <%= render 'shared/navbar' %>
  <div class="brandon-closson container100" id="brandon-closson">
    <div class="jumbotron">
      <div>
        <p>My name is <strong>Brandon Closson</strong> and I am an aspiring <em>full stack web developer</em> located near <strong>Baltimore, MD</strong>. The language and framework pair I am most familiar with is <strong>Ruby on Rails</strong>.</p>
        <p id="para2">I also have various levels of experience with:<br /></p>
        <p id="lang-list"><em>HTML5, CSS3, SASS, Javscript, jQuery, Angular.js, Slim, HAML, ERB, Capybara/RSPEC, and Coffescript</em></p>
      </div>
    </div>
  </div>
  <%= render 'projects_panel' %>
  <%= render 'resources_panel' %>
  <%= render 'contact_panel' %>
</div>