<div id="top" class="top-navbar">
  <nav class="main-nav">
    <ul>
      <li><a href="#projects" class="yellow-hover">Projects</a></li>
      <li>
        <a href="http://github.com/brandonclosson" class="orange-hover" target="_blank">
          Github
        </a>
      </li>
      <li><a href="#brandon-closson" class="blue-hover myname">Brandon Closson</a></li>
      <li><a href="#resources" class="red-hover">Resources</a></li>
      <li><a href="#contact" class="orange-hover">Contact</a></li>
    </ul>
  </nav>
</div>