.brandon-closson .jumbotron {
  height: auto;
  padding: 15% 14%;
  background-color: rgba(69, 178, 157, 0.4);
  border-color: rgba(69, 178, 157, 1);
}

.brandon-closson .jumbotron strong {
  font-size: 1.3em;
  color: #DF4949;
}

.brandon-closson .jumbotron em {
  font-size: 1em;
}

.brandon-closson .jumbotron p#para2{
  padding-top: 1.6em;
}

.brandon-closson .jumbotron p#lang-list {
  text-align: center;
  padding: 0.5em 4em 1em 4em;
}