nav {
  font-family: 'Signika', serif;
  font-size: 16px;
  color: #45B29D;
}

nav ul {
  list-style: none;
}

.top-navbar {
  width: 100%;
  background-color: #334D5C;
  padding: 1em 0;
  border-bottom: solid 2px black;
  box-shadow: 1px 1px 1px gray;
  position: relative;
}

.main-nav {
  width: 97%;
  text-align: center;
}

.main-nav ul li {
  display: inline-block;
  font-size: 1.4em;
  margin-left: 1em;
  margin-right: 1em;
}

.main-nav ul li:first {
  margin-left: 0;
  padding-left: 0;
}


.main-nav ul li a {
  text-decoration: none;
  color: white;
}

.main-nav ul li a:hover {
  text-shadow: 1px 1px 2px #172229,
               -0.5px -0.5px 0 #172229,
                0.5px -0.5px 0 #172229,
                -0.5px 0.5px 0 #172229,
                 0.5px 0.5px 0 #172229;
}

.main-nav ul li a:hover {
  text-shadow: 2px 2px 4px #172229,
               -2px -2px 0 #172229,
                2px -2px 0 #172229,
                -2px 2px 0 #172229,
                 2px 2px 0 #172229;
}

.main-nav ul li a:active{
  text-shadow: 1px 1px 2px #000,
               -2px -2px 1px #000,
                2px -2px 1px #000,
                -2px 2px 1px #000,
                 2px 2px 1px #000;
}

.main-nav ul li a.orange-hover:hover {
  color: #E27A3F;
}

.main-nav ul li a.blue-hover:hover {
  color: #45B29D;
}

.main-nav ul li a.yellow-hover:hover {
  color: #E5C94C;
}

.main-nav ul li a.red-hover:hover {
  color: #DF4949;
}

a.myname {
  font-size: 1.7em;
}