.projects .jumbotron {
  background-color: rgba(239, 201, 76, 0.4);
  border-color: rgba(239, 201, 76, 1);
  h6 {
   color: #E27835;
  }
  a {
    color: #E27835;
    font-family: 'Source Serif Pro', serif;
  }
  .category {
    background-color: rgba(239, 201, 76, 0.2);
    border: solid 1px rgba(239, 201, 76, 0.5);
    margin: 2em 1em;
    padding: 2% 9%;
    .category-title {
      padding: 0 0 2% 0;
      padding-bottom: 2%;
    }
    .project {
      padding-left: 3em;
    }
  }
}